@import 'tailwindcss';

@layer base {
  html,
  body,
  #root {
    @apply h-full overflow-hidden;
  }

  *,
  ::before,
  ::after {
    @apply border-gray-300 ring-gray-300 inset-ring-gray-300 select-none;
  }

  th,
  td {
    @apply border-r border-b bg-white px-2 py-1 text-left text-base;
  }

  th:first-child,
  td:first-child {
    @apply border-l;
  }

  th {
    @apply border-t;
  }

  a {
    @apply text-cyan-500;
  }

  button,
  svg {
    @apply cursor-pointer;
  }

  input,
  button,
  textarea {
    @apply outline-none;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #888;
  }
}
